@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
  margin-top: -30px;
}

.swiper-button-next {
  right: 28px;
}

.swiper-button-prev {
  left: 28px;
}

@media screen and (min-width: 1024px) {
  .swiper-button-next {
    right: 161px;
  }

  .swiper-button-prev {
    left: 161px;
  }
}

.swiper-button-next::after {
  content: "";
  background: url("/assets/icon-next.svg") no-repeat;
  width: 19.42px;
  height: 32px;
}

.swiper-button-prev::after {
  content: "";
  background: url("/assets/icon-prev.svg") no-repeat;
  width: 19.42px;
  height: 32px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 8px;
}

@media screen and (min-width: 1024px) {
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 24px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: transparent;
  border: 1px solid #faa500;
  opacity: 1 !important;
  margin: 0 8px;
}

@media screen and (min-width: 1024px) {
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border: 2px solid #faa500;
  }
}

.swiper-pagination-bullet-active {
  background: #faa500 !important;
}

.group .swiper-button-prev {
  left: 0;
}

.group .swiper-button-next {
  right: 0;
}
